body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink {
  background: linear-gradient(#ffb6d5, #ffd6e8);
  height: 100vh;
}

canvas {
  background: #ffe6f0;
  border-radius: 20px;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 300px;
}

button {
  background: hotpink;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
